#container {
  width: 90%;
  background-color: grey;
  display: block;
  margin: auto;
}

.header {
  display: block;
  overflow: hidden;
}

.name {
  display: inline-block;
  float: right;
}

.navigation {
  max-width: 100%;
}
.logo {
  display: inline-block;
  padding-top: 25px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu {
  float: left;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to black on hover */
li.menu a:hover {
  background-color: #111;
}

.profile {
  border-radius: 70%;
}
.me{
  display: inline-flex;
}
#projects {
  max-width: 100%;
  display: inline-flex;
}


/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait) {
    .examples {
      max-width: 90%;
      height: auto;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    .examples {
      max-width: 45%;
      height: auto;

    }

}
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    .examples {
      max-width: 45%;
      height: auto;

    }

}

@media screen
  and (min-device-width: 800px)
  and (max-device-width: 1600px) {
    .examples {
      max-width: 33%;
      height: auto;
    }
}


.screenshot {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
}

.link {
  text-align: center;
}

.footer {
  display: inline-flex;
}

.github {
  margin-left: 25px;
}

.facebook {
  margin-left: 25px;
}

.linkedin {
  margin-left: 25px;
}
